<nge-markdown ngNonBindable ngPreserveWhitespaces>
# Installation

- [x] Write the press release
- [ ] Update the website
- [ ] Contact the media

```typescript
import &#123;&#123;  Component, ElementRef, OnDestroy, OnInit } from '@angular/core';
import &#123; DomSanitizer } from '@angular/platform-browser';
```

::: bug Phasellus posuere in sem ut cursus

Lorem **ipsum** dolor sit amet, consectetur adipiscing elit. Nulla et euismod
nulla. Curabitur feugiat, tortor non consequat finibus, justo purus auctor
massa, nec semper lorem quam in massa.

```python
from random import randint
print("n = " + randint(0, 10))
```

> hskjhdjshd

- A
- B
- C

=== **CS**

```csharp
using System;
class Program &#123;

  static void Main() &#123;
    Console.WriteLine("Hello world");
  }

}
```

=== **Python**

```python
from random import randint
print("n = " + randint(0, 10))
```

===

:::

## Tabset

=== CSharp

```csharp
using System;
class Program &#123;

  static void Main() &#123;
    Console.WriteLine("Hello world");
  }

}
```

=== Python

```python
from random import randint
print("n = " + randint(0, 10))
```

===

## Latex

</nge-markdown>
