<nge-markdown>
  $f(x) = \int_&#123;-\infty&#125;^\infty \hat f(\xi) e^&#123;2 \pi i \xi x&#125; d\xi$
  The following examples $c = \\pm\\sqrt&#123;a^2 + b^2&#125;$ are intended as a quick markdown reference and
  showcase. It is based on Adam Pritchard work of [Markdown Cheat
  Sheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).
</nge-markdown>
<ng-container *ngFor="let item of cheatsheets">
  <section>
    <h2>{{ item.title }}</h2>
    <nge-monaco-viewer [code]="item.markdown"></nge-monaco-viewer>
    <nge-markdown ngPreserveWhitespaces>{{ item.markdown }}</nge-markdown>
  </section>
</ng-container>
